[Unit]
Description=Android VM

[Service]
Type=oneshot
ExecStart=/usr/sbin/xl create /etc/xen/doma.cfg
ExecStop=/usr/sbin/xl destroy DomA
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
